@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  /* COLORS */
  --color-000: #fffffe;
  --color-100: #e3f6f5;
  --color-200: #ffffff;
  --color-210: #99e2e2;
  --color-300: #ffd803;
  --color-400: #272343;
  --color-500: #ef7166c0;
  --color-600: #ed6255;

  /* SPACINGS */
  --margin-xs: 10px;
  --margin-s: 20px;
  --margin-m: 30px;
  --margin-l: 40px;
  --margin-xl: 50px;
  --margin-xxl: 60px;

  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --padding-l: 40px;
  --padding-xl: 50px;
  --padding-xxl: 60px;

  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  /* BORDER RADIUS */
  --border-radius: 10px;
  --border-radius-circle: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.hide {
  display: none;
}
