.instructionsDiv {
  width: 75%;
  height: 70%;
  background-color: var(--color-000);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.instructionsDivTitle {
  font-size: 38px;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 2%;
  font-family: 'PokemonSolid';
  letter-spacing: 2px;
}

.instructionsParts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: 80%;
}

.instructionTitle {
  font-size: 30px;
  margin-bottom: var(--margin-xs);
}

.instructionsText {
  width: 80%;
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
}

.chooseTypeText {
  text-align: center;
  width: 60%;
  margin-bottom: var(--margin-m);
  font-size: 30px;
  color: var(--color-000);
}

.buttonsDiv {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: var(--gap-xl);
  margin-bottom: var(--margin-s);
}

.initialScreenButtons {
  width: max-content;
  height: 40px;
  border: none;
  background-color: rgb(211, 212, 211);
  padding: 0 var(--padding-s);
  cursor: pointer;
}

.initialScreenButtons:hover {
  background-color: rgb(175, 176, 175);
}

@media screen and (min-width: 1110px) and (max-width: 1030px) {
  .instructionsDiv {
    width: 80%;
    height: 60%;
  }

  .instructionsDivTitle {
    font-size: 34px;
    padding-top: 2%;
    padding-bottom: 0;
  }

  .instructionTitle {
    font-size: 25px;
    margin-bottom: var(--margin-xs);
  }

  .instructionsText {
    width: 95%;
    font-size: 15px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 414px) and (max-width: 1110px) {
  .instructionsDiv {
    width: 80%;
    max-width: 380px;
    height: 80%;
  }

  .instructionsDivTitle {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .instructionTitle {
    font-size: 15px;
    margin-bottom: var(--margin-xs);
  }

  .instructionsText {
    width: 95%;
    font-size: 12px;
    line-height: 1.4;
  }

  .initialScreenButtons {
    width: max-content;
    height: 30px;
    padding: 0 var(--padding-xs);
    font-size: 12px;
  }
}
/* @media screen and (min-width: 414px) and (max-width: 768px) {
  .instructionsDiv {
    width: 60%;
    height: 55%;
  }

  .instructionsDivTitle {
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 0;
  }

  .instructionTitle {
    font-size: 18px;
    margin-bottom: var(--margin-xs);
  }

  .instructionsText {
    width: 95%;
    font-size: 12px;
    line-height: 1.4;
  }
} */

@media screen and (min-width: 370px) and (max-width: 414px) {
  .instructionsDiv {
    width: 90%;
    height: 70%;
  }

  .buttonsDiv {
    bottom: 1.5px;
  }

  .instructionsDivTitle {
    font-size: 20px;
  }

  .instructionTitle {
    font-size: 14px;
    margin-bottom: var(--margin-xs);
  }

  .instructionsText {
    width: 80%;
    text-align: center;
    font-size: 11px;
    line-height: 1.4;
  }

  .initialScreenButtons {
    width: max-content;
    height: 20px;
    padding: 0 var(--padding-xs);
    font-size: smaller;
  }
  .chooseTypeText {
    width: 80%;
    font-size: 23px;
  }
}
